.caixa{
    width: 350px;
    height: px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa input {
    font-size: 20px;
    color: white;
    border: none;
    background-color:rgb(78, 78, 82);
    text-align: center;
    width: 100%;
    outline: none;
}
.caixa2{
    width: 290px;
    height: 80px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.caixa2 input {
    font-size: 20px;
    color: white;
    border: none;
    background-color:lightgray;
    text-align: center;
    width: 100%;
    outline: none;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 20px;
}

body{
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
    
.size{
position:relative;
top: 40px;
}

.comentario {
  width: 300px;
  margin-top: 5px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.comentario textarea {
  width: 100%;
  padding: 4px;
  border-radius: 50px;
  margin-bottom: 10px;
  resize: vertical;
  flex-grow: 1;
}
.comentario img.imagem {
    margin-right: 10px;
    margin-top: 5px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.content .item {
    background-color:#767b85;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.);
}

.content .margin{
    margin-left: 20px;
}
.imagem2 {
    width: 30px;
    height: 30px;
    margin: none;
    border: none;
}
